#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c0c1a; /* Dark navy blue for space */
  color: white;
}

.loading-indicator {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 10;
  font-family: sans-serif;
}